@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="pt-4">
        <a asp-action="DataForm" asp-controller="Obstacle"
           class="inline-flex items-center rounded-lg py-2 ring-1 ring-indigo-600 text-indigo-700 hover:bg-indigo-50">
            Register Obstacle
        </a>
</div>

<div class="pt-4">
    <a asp-action="DatabaseIndex" asp-controller="Database"
       class="inline-flex items-center rounded-lg py-2 ring-1 ring-indigo-600 text-indigo-700 hover:bg-indigo-50">
        All submitted obstacles
    </a>
</div>